<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <a href="/band">View Bands</a>
      <br><a href="/venue">View Venues</a>
      @RenderBody()
      <br><a href="/">Home</a>
    </div>
  </body>
</html>
