@{
  Layout ="Shared/_Layout.cshtml";
}

<form action="/venue/add" method="post">
  <label for="venue-name">Venue Name</label>
  <input name="venue-name" type="text">
  <br><br><button type="submit">Add Venue</button>
</form>
