@{
  Layout ="Shared/_Layout.cshtml";
}
<ul>
  @if (@Model.Count != 0 )
  {
    @foreach (var venue in Model)
    {
      <li><a href="/venue/@venue.GetId()">@venue.GetName():</a><br>
        <form action="/venue/delete/@venue.GetId()" method="post">
          <a href="/venue/update/@venue.GetId()">Update </a>
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button Delete</a></li></li>
        </form>
    }
  }
  <br><a href="venue/add">Add Venue</a>
</ul>
