@{
  Layout ="Shared/_Layout.cshtml";
}
<h2>@Model["Band"].GetName()</h2>
@if (@Model["Venue"].Count != 0)
{
  <ol>
    @foreach (var venue in @Model["Venue"])
    {
      <li><a href="/venue/@venue.GetId()">@venue.GetName()</a></li>
    }
  </ol>
}
